<!DOCTYPE html>
<html lang="zh-cmn-Hans">

<head>
    <meta charset="UTF-8">
    <meta name="format-detection" content="telephone=no" />
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="stylesheet" type="text/css" href="./pack/book.min.css" />
    <title>书单－Under 7℃</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link rel="icon" type="image/png" sizes="96x96" href="/about/images/my_logo2px.png">
    <link rel="apple-touch-icon-precomposed" sizes="96x96" href="/about/images/my_logo2px.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/about/images/my_logo4x.png">
    <script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "//hm.baidu.com/hm.js?4e62d31ed1c5f06a04f3d5fa1e253b25";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
    </script>
</head>

<body>
    <header class="top">
        <nav class="nav clearfix">
            <ul>
                <li class="index"><a href="javascript:void(0);" name="nav" data-id="read">Under 7℃</a></li>
                <li><a href="javascript:void(0);" name="nav" data-id="web">前端</a></li>
                <li><a href="javascript:void(0);" name="nav" data-id="novel">小说</a></li>
                <li><a href="javascript:void(0);" name="nav" data-id="other">其他</a></li>
            </ul>
            <a href="/about" class="r">关于我</a><a href="/blog" class="r">博客</a>
        </nav>
    </header>
    <div class="main animated" id="read" name="main">
        <article>
            <section>
                <header>
                    <h3>「最近在读」</h3>
                </header>
                <div class="booklist">
                    <ul id="reading">

                    </ul>
                </div>
            </section>
            <section>
                <header>
                    <h3>「准备阅读」</h3>
                </header>
                <div class="booklist">
                    <ul id="toread">

                    </ul>
                </div>
            </section>
            <section>
                <header>
                    <h3>「已经阅读」</h3>
                </header>
                <div class="booklist">
                    <ul id="yaer">

                    </ul>
                </div>
            </section>
        </article>
    </div>
    <div class="web main animated hide" id="web" name="main">
        <article>
            <section>
                <header>
                    <h3>「Javascript」</h3>
                </header>
                <div class="booklist">
                    <ul id="js">

                    </ul>
                </div>
            </section>
            <section>
                <header>
                    <h3>「Html&Css」</h3>
                </header>
                <div class="booklist">
                    <ul id="html">

                    </ul>
                </div>
            </section>
        </article>
    </div>
    <div class="novel main animated hide" id="novel" name="main">
        <article>
            <section>
                <!-- <header>
                    <h3>「Javascript」</h3>
                </header> -->
                <div class="booklist">
                    <ul id="novellist">

                    </ul>
                </div>
            </section>
        </article>
    </div>
    <div class="novel main animated hide" id="other" name="main">
        <article>
            <section>
                <!-- <header>
                    <h3>「Javascript」</h3>
                </header> -->
                <div class="booklist">
                    <ul id="otherlist">

                    </ul>
                </div>
            </section>
        </article>
    </div>

<script type="text/template" id="tpl">
    <% for(var i = 0; i < data.length; i++) { %>
        <li class="item">
            <div class="inner">
                <div class="cover-side">
                    <div class="works-meta">
                        <div class="title"><a href="<%= data[i].link %>" target="_blank"><%= data[i].title %></a></div>
                        <div class="author"><%= data[i].author %></div>
                    </div>
                    <div class="cover shadow-cover">
                        <a href="<%= data[i].link %>" class="pic" target="_blank"><img width="110px" height="164px" src="<%= data[i].img %>" alt="" itemprop="image"></a>
                    </div>
                </div>
                <div class="info-side">
                    <div class="name">概览：</div>
                    <blockquote><%= data[i].excerpt %></blockquote>
                </div>
            </div>
        </li>
    <% } %>
</script>
<script src="./pack/book.min.js"></script>
</body>

</html>
